{% extends 'base.html' %}
{% load static %}
{% block title %} Details {% endblock %}


{% block content %}


    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    {% include 'includes/header1.html' %}
    {% include 'includes/header2.html' %}


    <!-- Breadcrumb Section Begin -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>Our Rooms</h2>
                        <div class="bt-option">
                            <a href="{% url 'hms:index' %}">Home</a>
                            <span>Rooms</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->


    <!-- Room Details Section Begin -->
    <section class="room-details-section spad">
        <div class="container">

            <div class="row">
                <div class="col-lg-8">
                    <div class="room-details-item">
                        <img src="{% static 'img/room/room-details.jpg' %}" alt="">
                        <div class="rd-text">
                            <div class="rd-title">
                                <h3>Premium King Room</h3>
                                <div class="rdt-right">
                                    <div class="rating">
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star-half_alt"></i>
                                    </div>

                                    {% if user.is_authenticated %}
                                    <form action="{% url 'hms:room_detail' room_id %}" method="post" id="myForm">
                                        {% csrf_token %}
                                        <input type="hidden" name="book_now_button" value="book_now_button">
                                        <a id="book_now">Booking Now</a>
                                    </form>
                                    {% endif %}


                                </div>
                            </div>
                            <h2>Rs {{room.price}}<span> /per-night</span></h2>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Room No:</td>
                                        <td>{{room.room_no}}</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Room Type:</td>
                                        <td>{{room.room_type|upper}}</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Bed:</td>
                                        <td>{{ room.beds }}</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Services:</td>
                                        <td>Wifi, Television, Bathroom,...</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p class="f-para">
                                {{room.description}}
                            </p>
                        </div>
                    </div>

                    <!-- Reviews Section Start -->
                    <div class="rd-reviews">
                        <h4>Comments</h4>

                        {% for comment in comments %}
                        <div class="review-item">
                            <div class="ri-pic">
                                <img src="{% static 'img/room/avatar/avatar.webp' %}" alt="">
                            </div>
                            <div class="ri-text">
                                <span>{{ comment.created_at }}</span>
                                <h5>{{ comment.user.username }}</h5>
                                <p>{{ comment.comment }}</p>
                            </div>
                        </div>
                        {% empty %}
                        <div class="review-item">
                            <div class="ri-text">
                                NO Comments Yet
                            </div>
                        </div>
                        {% endfor %}


                    </div>

                    {% if user.is_authenticated %}
                    <div class="review-add">
                        <h4>Add Comments</h4>
                        <form action="{% url 'hms:room_detail' room_id %}" method="post" class="ra-form">
                            {% csrf_token %}
                            <input type="hidden" value="comment_button" name="comment_button">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="text" name="name" placeholder="Name*">
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" name="email" placeholder="Email*">
                                </div>
                                <div class="col-lg-12">
                                    <textarea name="message" placeholder="Your Comment"></textarea>
                                    <button type="submit">Submit Now</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    {% endif %}
                    <!-- Reviews Section End -->


                </div>
                <div class="col-lg-4">
                    <div class="room-booking">
                        <h3>Your Reservation</h3>

                        <form action="{% url 'hms:index' %}" method="post">
                            {% csrf_token %}
                            <div class="check-date">
                                <label for="date-in">Check In:</label>
                                <input type="text" class="date-input" name="check_in_date" id="date-in" required>
                                <i class="icon_calendar"></i>
                            </div>
                            <div class="check-date">
                                <label for="date-out">Check Out:</label>
                                <input type="text" class="date-input" name="check_out_date" id="date-out" required>
                                <i class="icon_calendar"></i>
                            </div>
                            <div class="select-option">
                                <label for="guest">Room Type:</label>
                                <select id="guest" name="room_type" required>
                                    <option value="ac">AC</option>
                                    <option value="nonac">Non AC</option>
                                </select>
                            </div>
                            <div class="select-option">
                                <label for="room">Bed:</label>
                                <select id="room" name="no_of_beds">
                                    <option value="0">Select an Option</option>
                                    <option value="1">Single bed</option>
                                    <option value="2">Double Room</option>
                                    <option value="3">Tripe Room</option>
                                </select>
                            </div>
                            <button type="submit">Check Availability</button>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Room Details Section End -->

{% include 'includes/footer.html' %}

{% endblock %}


{% block extra_js %}
    <script>
        book_now = document.querySelector('#book_now')
        myForm = document.querySelector('#myForm')
        book_now.addEventListener('click', ()=>{
            myForm.submit();
        })
    </script>
{% endblock %}