{% load static %}


    <!-- Offcanvas Menu Section Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="canvas-open">
        <i class="icon_menu"></i>
    </div>
    <div class="offcanvas-menu-wrapper">
        <div class="canvas-close">
            <i class="icon_close"></i>
        </div>
        <div class="search-icon  search-switch">
            <i class="icon_search"></i>
        </div>
        <div class="header-configure-area">
            <div class="language-option">
                <img src="img/flag.jpg" alt="">
                <span>EN <i class="fa fa-angle-down"></i></span>
                <div class="flag-dropdown">
                    <ul>
                        <li><a href="#">English</a></li>
                        <li><a href="#">Hindi</a></li>
                    </ul>
                </div>
            </div>
            <a href="#" class="bk-btn">Booking Now</a>
        </div>

        <nav class="mainmenu mobile-menu">
            <ul>
                <li class="active"><a href="{% url 'hms:index' %}">Home</a></li>
                {% if user.is_authenticated  %}
                    <li><a href="{% url 'hms:dashboard' %}">My Bookings</a></li>
                {% endif  %}
                <li><a href="{% url 'hms:about' %}">About Us</a></li>
                <li><a href="{% url 'hms:contact' %}">Contact</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="top-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-tripadvisor"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
        <ul class="top-widget">
            <li><i class="fa fa-phone"></i> (+91) 941-411-0473</li>
            <li><i class="fa fa-envelope"></i> electrocomchittor@yahoo.com</li>
        </ul>
    </div>
    <!-- Offcanvas Menu Section End -->